@model tlogNew.Models.Megablog
@{
    ViewBag.Title = "blogphins";
}

<style>
    .boxi {
        transition: box-shadow .3s;
        cursor: pointer;
    }

        .boxi:hover {
            box-shadow: 0 0 50px rgba(33,33,33,.2);
        }
</style>



<div class="jumbotron bg-transparent full" style="overflow:hidden">
    <h2 class="text-dark"><kbd>Choose</kbd> Blog Type</h2>
    <hr />
    <div style="text-align:center;">
        <img width="auto"
             onclick="location.href='@Url.Action("CreateMicroBlog", "UserAccount")'"
             class="boxi p-3 shadow m-3" height="500px" style="padding:15px;border-radius:50px"
             src="https://i.ibb.co/kHVjqKr/Travel-Blog-Title-i-Phone-Layout-1.png" alt="" />


        <img width="auto" class="p-3 m-3 boxi shadow" height="500px" style="padding:15px;border-radius:50px"
             onclick="location.href='@Url.Action("CreateMegaBlog", "UserAccount")'"
             src="https://i.ibb.co/JsqKN4r/Blogging-Tips-Linked-In-Post-Header-2.png" alt="" />

    </div>
  

</div>

<div class="jumbotron mob">
    <h4 class="text-dark"><kbd>Choose</kbd> Blog Type</h4>
    <hr />
    <div style="text-align:center;">
        <img width="auto"
             onclick="location.href='@Url.Action("CreateMicroBlog", "UserAccount")'"
             class="boxi" height="130px" style="padding:15px;"
             src="@Url.Content("~/Content/images/micro.png")" alt="" />


        <img width="auto" class="boxi" height="130x" style="padding:15px;"
             onclick="location.href='@Url.Action("CreateMegaBlog", "UserAccount")'"
             src="@Url.Content("~/Content/images/mega.png")" alt="" />

    </div>
    <hr />
</div>

